.table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(223, 223, 223);
}
.table-conatiner {
  width: 1035px;
  padding: 16px;
  border-radius: 12px;
  border: 2px;
  background-color: white;
}
.table-header {
  width: 1003px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  background-color: #f3f3f3;
  justify-content: center;
  align-items: center;
}
.table-headings {
  color: #7a7a7a;
  width: 123px;
  height: 48px;
  padding: 12px, 12px, 12px, 24px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-content {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.table-row {
  width: 1003px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #00000022;
}

.table-row-value {
  color: black;
  width: 123px;
  padding: 16px, 12px, 40px, 24px;
  padding-bottom: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.city {
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  color: #242424;
  margin-top: 10px;
}
.btn {
  width: 65px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
}

.edit {
  font-size: 20px;
  margin-right: 10px;
}
.delete {
  font-size: 18px;
  margin-left: 10px;
  color: #ed1c24;
}
